*{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    background:#aff93f;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
}
label.logo{
    color: white;
    font-size: 40px;
    line-height:80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 50px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

a.active,a:hover{
    background: blue;
    color: white;
    transition:.5s;
    height: 30px;
    width:50px;
    border-radius: 5px;
}

.checkbutton{font-size: 30px;
     color: white;
     float: right;
     line-height: 80px;
     margin-right:40px;
    cursor:pointer; 
    display: none;
}
.logo-img{
    height: 40px;
width: 40px;
position: absolute;
left: 40px;
top: 23px;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:40%;
    height: 100%;
    background:#aff93f;
    animation: show 3s ease forwards;
    animation-delay: 0.2s;
    animation-iteration-count:infinite;
}

@keyframes show{
    100%{
        width: 0;
    }
}

#check{
    display: none;
    }
    .section{
        min-width: 100%;
        background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url(reseption.webp);
        background-size: cover;
        object-fit: contain;
        min-height:calc(100vh - 80px);
        background-attachment: fixed;
     
    }                        
                        /* form section */
        .form1{
              text-align: center;
               width: 350px;
               padding:50px;
               background-color:#aff93f;
               margin: 50px 0px 0px 50px;
               border-radius: 10px;
               border: 1px solid blue;
              box-shadow: 3px 0px 4px 3px blue;
            }
        .button2{
            height: 40px;
            width: 260px;
            border: none;
            background-color: aliceblue;
            color:blue;
            border-radius: 10px;
            font-weight: 700;
             margin-left: 15px;
        margin-top: 20px;
                            }
.button3{
         height: 40px;
         width: 260px;
     border: none;
    color: white;
    background-color:blue;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 20px;
}
.input1{
border: none;
border: 2px solid blue;
margin-top: 60px;
padding: 5px;
width: 260px;
height: 35px;
background: transparent;
border-radius: 10px;
outline: none;}
  span{
      color:blue;
      font-weight: 500;
  }
                        
  .log-in{padding: 10px 0px 5px 0px;
      font-size: 20px;
      font-weight: 500;
  }
  .button3:hover{
      cursor:pointer;
      box-shadow: 2px 0px 3px 4px white;
  }
  i{
      color:blue;
      font-size: 25px;
      padding: 0px 20px 0px 0px;
      text-align: center;
  }
                          .input2{border: none;
          border: 2px solid blue;
         margin-top: 20px;
         padding: 5px;
         width: 260px;
         height: 35px;
        background: transparent;
        outline: none;
        border-radius: 10px;
                        }



                    /* home-contents */
    
    #home{                          /* maindiv-home-page-content */
        z-index: 999;
      padding-top: 200px;
      display: flex;
    }

    .home-right{
        width: 50%; 
        text-align:end;
        }
         .home-right >img{            /*  home-page-image */
            height: 300px;
            width: 300px;
           margin-right: 50px;
        }
    .home-left{                      /*  home-page-leftside content */
        width: 50%;
        color:white;
        padding: 30px;}
        
        .home-left>h1{
            font-size: 50px;
        }
        .join-now{              /*  home-page-join Now button */
            height: 30px;
            width: 100px;
            border-radius: 10px;
            background-color: blue;
            color: white; 
            border: none;
             transition: all;}

            .join-now:hover{                        /*  home-page-button-hover */   
                background-color: #8ce702;
                transform: scale(1);
                box-shadow:2px 0px 3px 1px blue;
            }
            .contact{                               /*  home-page-contact */
                display: flex;
                margin-top: 15px;
                gap: 10px;
            }
            .contact>i{
                
                font-size: 35px;
                color: blue;
               
            }
            .contact>h1:hover{
                color: blue;
                text-decoration: underline;
                transition:.5s;}

                .icons i{
                    font-size: 30px;
                     color:white; 
                    height: 50px;
                     width: 50px;
                     border-radius: 20px;
                     padding:8px 2px 0px 3px;
                     margin-right: 15px;
                    }
                     .icons i:hover{
                        color: blue;
                        border: 3px solid blue;
                     } 

                
            .card1{
                border-radius: 20px;
                width: 50%;
                margin: auto;
               
            }
          .card1>img{
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            .card{
                margin-bottom: 20px !important;
                border: 2px solid blue !important;
                min-height: 610px !important;
                transition: all;
            }
            /* .card:hover{
                transform: scale(1,0);

            } */
            .txt{
                margin-top: 60px;
                padding: 20px;
            }
            .txt>.location{
                height: 30px;
                width: 100px;
                background-color:blue;
                border: none;
                border-radius: 10px;
                color: white;
                font-weight: 500;
                transition: all;
            } 
            .location>a{
                text-decoration: none;
                color: white;
            }
             .location:hover{                        /*  home-page-button-hover */   
                background-color: #8ce702;
                transform: scale(1);
                box-shadow:2px 0px 3px 1px blue;
            }.fees{
                display: flex;
                margin-top: 20px;
            }
               /* second-row of about */
               .second-row{
                margin-top: 30px !important;
                color: #8ce702 !important;

             }

            /* third-row of abouts */
            .third-row{
                margin-top: 20px !important;
                } 
                  
.third-row> .col1{
            min-height: 270px !important;
              border: none !important;
            border-radius: 10px !important;
            border: 3px solid blue !important;
             padding: 10px !important;
            text-align: justify !important;
            margin:0px 10px 20px 10px;
                } 

            /* services code section */

.row-2{
                margin-top: 20px !important;
            }
.phara-center{
    text-align: justify !important;
            }
          

            .contact-page{
                min-height: 500px !important;
               padding: 30px;
            }
                         /* student-review */


     .overall{
        margin-left: 40px;
        border: 10px solid blue;
        border-radius: 10px;
        padding: 20px;
     }
     .sub-overall{
        display: grid;
        grid-auto-flow: column;
                               /* scroll-behavior: auto; */
          gap: 20px;
        overflow-y:auto;          /* hidden */
         overscroll-behavior-x: contain;     /* it mush inside the container thats why we but like this  */
        scroll-snap-type: x mandatory;
        scrollbar-width:inherit;          /*  using none also */
    }

   .sub-overall:webkit-scrollbar {         /* wekit-engin */
          display: none;                /*we want to use scrollbar. web browsers has safari thats why we want to using this property to control the browser  */
  }


 .card1{
     scroll-snap-align: start;
     border-radius: 30px;
     min-height:300px;
     min-width:400px;
     display: flex;
     align-items: center;
     justify-content: center;
     
 }
   .row1{
       margin-right: 20px!important;
  }
   .card1>img{
      min-height: 300px;
      min-width: 400px;
      border:2px solid #8ce702;
   }

   .map-right-img{
      margin-top: 30px;
      height: 400px !important;
      width: 500px !important;
     border-radius: 10px;
                     }


 .contact-content{
       min-height:400px;
       width: 100%;
       margin-top: 30px;
   }
   .contact-bottom{
       display: flex;
        flex-direction:row;
        justify-content:start;
        align-items: center;
   }
   .logo-bottem{
       height: 70px;
       border-radius: 50%;
       padding: 10px;
   }
                               
    .phara2{
             padding-top: 20px;
    }


    .left-bottom{min-height: 70px !important;
        width: 55% !important;
        display: flex !important;
        padding: 5px !important;
         margin-left: 30%;} 
    
                                






                /* media quary */
    @media (max-width:952px){
        label.logo{
            font-size:30px;
            padding-left:50px;
        }
        nav ul li a{
            font-size: 20px;
            text-decoration: none;
        }
        .section{
            background-size: cover;
            flex-direction: column;
        }
        .logo-img{
            left: 10;
        }
        .left-bottom{
            flex-direction: column;
            margin: auto;
        }
    }



    @media (max-width:350px){
        .checkbutton{
            display: block;
        }
        ul{
         position: fixed;
         width: 100%;
         height: 70vh;
         background: #8ce702;
         top: 80px;
         right:-120%;
         text-align: center;
         transition: all 2s;
        }
        nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a{
            font-size: 25px;
            font-weight: bold;
        }
        a:hover,a.active{
            background: none;
            color: blue;
        }
        #check:checked ~ ul{
            left:0;
        }
        .section{
            background-size: cover;
            flex-direction: column;
        }
        .home-right{
            margin-left: 50px;
        }
        .icons{
            flex-direction: column;
        }

        .logo-img{
            left: 5px;
        }
    .section{
            width: 100%;
        }}

    @media (max-width:858px){
        .checkbutton{
            display: block;
        }
        ul{
         position: fixed;
         width: 100%;
         height: 70vh;
         background: #8ce702;
         top: 80px;
         right:-120%;
         text-align: center;
         transition: all 2s;
        }
        nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a{
            font-size: 25px;
            font-weight: bold;
        }
        a:hover,a.active{
            background: none;
            color: blue;
        }
        #check:checked ~ ul{
            left:0;
        }
        .section{
            background-size: cover;
            flex-direction: column;
        }
        .icons{
            flex-direction: column;
        }

        .logo-img{
            left: 5;
        }
        #home{
            flex-direction: column;
        }
    }

  